<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="page-content">
            <div class="margin-bottom">
                <div class="flex " id="top-bar-div">
                    <div class="flex-1" id="app-title-div">
                        <h1 class="app-title">
                            <i class="fa-solid fa-money-bill-trend-up"></i>
                            Stocks
                        </h1>
                    </div>
                    <div class="flex-1 ">
                        <input class="search-text" type="text" placeholder="Stock Search" name="name" value="" />
                        <i class="fa-solid fa-gear"></i>
                        <button class="button button-blue-back login-button ml">Login</button>

                    </div>
                </div>
            </div>
            <div class="navbar mb">
                <ul>
                    @if (ViewBag.CurrentUrl == "~/Trade/Index")
                    {
                        <li><a href="~/Trade/Index" class="nav-active">Trade</a></li>
                    }
                    else
                    {
                        <li><a href="~/Trade/Index">Trade</a></li>
                    }

                    @if (ViewBag.CurrentUrl == "~/Trade/AllOrders")
                    {
                        <li><a href="~/Trade/AllOrders" class="nav-active">Orders</a></li>
                    }
                    else
                    {
                        <li><a href="~/Trade/AllOrders">Orders</a></li>
                    }
                    @if (ViewBag.CurrentUrl == "~/Stocks/Explore")
                    {
                        <li><a href="~/Stocks/Explore" class="nav-active">Explore</a></li>
                    }
                    else
                    {
                        <li><a href="~/Stocks/Explore">Explore</a></li>
                    }
                </ul>
                <div class="flex-2">
                    <a asp-controller="Trade" asp-action="GetPdf">Download as PDF</a>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
@await RenderSectionAsync("scripts",false)
